Source: r-cran-mkmisc
Section: misc
Priority: optional
Maintainer: Matthias Kohl <Matthias.Kohl at stamats.de>
Build-Depends: r-base (>= 2.14), cdbs, r-base-dev, r-cran-rcolorbrewer, r-cran-robustbase (= 0.5-0-1-1)
 
Package: r-cran-mkmisc
Architecture: all
Depends: r-base (>= 2.14), r-cran-rcolorbrewer, r-cran-robustbase
Description: Miscellaneous Functions from M. Kohl
 Miscellaneous Functions from M. Kohl
